$xs: "min-width: 30rem";
$sm: "min-width: 50rem";

$color-font-default: #222;
$color-primary: #006269;

$height-balloon-default: 10rem;
$width-balloon-default: 8rem;
$font-size-balloon-triangle-default: 1.8rem;
$position-left-triangle-default: $width-balloon-default * 0.35;
$position-bottom-triangle-default: -1.8rem;

$color-red-balloon: rgba(255, 0, 0, 0.8);
$color-yellow-balloon: rgba(255, 252, 82, 0.8);
$color-pink-balloon: rgba(255, 82, 131, 0.8);
$color-blue-balloon: rgba(0, 0, 255, 0.8);
$color-purple-balloon: rgba(182, 37, 254, 0.8);
$color-green-balloon: rgba(38, 244, 1, 0.8);
$color-light-blue-balloon: rgba(1, 215, 244, 0.8);
